@model SistemaPueblito.Web.Data.Entities.Child

@{ 
    ViewData["Title"] = "Eliminar la información de " + Model.FullName;
}

<h2>@ViewData["Title"]</h2>
<h3>¿Está seguro(a) de querer eliminar este registro?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>     
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Imagen" style="width:200px; height:300px; max-width:100%; height:auto" />
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @*<input type="submit" value="Eliminar" class="btn btn-danger" />*@ 
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
        <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Regresar</a>
    </form>
</div>
